


nav{
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  padding-left: 10px;
  padding-right: 10px;
  
}
a{ 
  background-color: rgba(128, 128, 128, 0.397);

}

body {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  
}
img{ display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;}

h1 {
  background-color: blanchedalmond;
  color: rgb(0, 0, 0);
 display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
div{float:left;
  width: 25%;
  background-color: blanchedalmond;
  align-content: center;
}
